<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @article.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @article.price %>
</p>

<p>
  <strong>Total in shelf:</strong>
  <%= @article.total_in_shelf %>
</p>

<p>
  <strong>Total in vault:</strong>
  <%= @article.total_in_vault %>
</p>

<p>
  <strong>Store:</strong>
  <%= @article.store.name %>
</p>


<div class="row">
  <div class="col s2 center-align">
    <%= link_to 'Edit', edit_article_path(@article), class: "white-text waves-effect waves-light blue btn"  %>
  </div>
  <div class="col s2 center-align">
    <%= link_to 'Back', articles_path, class: "back_link"%>
  </div>
</div>
